*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: 800px;
    width: 100%;

}
//header
header{
    display: flex;
    width: 100%;
height: 500px;
    flex-direction:column;
    align-items: center;
background: url(./image/header.jpg);
background-repeat: no-repeat;
.tete{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        img{
            align-self: center;
            padding-left: 100px;
        }
        ul{
            display: flex;
            flex-direction: row;
            align-self: center;
            padding-right: 300px;
            li{
                padding-left: 50px;
                color: white;
                list-style-type: none;
                
            }
        }
    
    }


    
}