*{
    margin: auto;
    max-width: 100vw;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #00c2cb;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #00c2cb;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

.section-1{
   background-color: wheat;
    padding-top:15vh;
    height: 100vh;
    width: 100vw;
    
}
.img-1{
  border-radius: 5%;
  box-shadow: 5px 5px 10px 0.3px black;
}
.div-1{
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.div-2{
    
  height: 40vh;
  width: 40vw;
  padding-top:15vh;
  padding-left: 10vw;
  
    
}
.h2-1{
   position: relative;
   top: 0vh;
   left: 0vw;
    
}
.h2-2{
  position: relative;
  bottom: 0vh;
  left: 29vw;
  
}
.logo{
  padding-left:5vw;
}

.section-2{
    background-color:#282A35;
    height: 100vh;
    width: 100vw;

}
.div-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.div-4 ,
.div-5{
  display: flex;
  margin: 5vw;

}
.card-1 , .card-4{
  background-color: #297dc7;
  color:black;
  width: 40vw;
  padding-left: 2vw;
  height: 25vh;
  border: 1px solid black;
  margin-left: 2vw;
  border-radius: 5%;
  box-shadow: 5px 5px 10px 0.3px rgb(150, 150, 150);
  
  
}
.card-2 , .card-3{
  background-color:rgb(163, 155, 105);
  width: 40vw;
  padding-left: 2vw;
  height: 25vh;
  border: 0.3px solid black;
  margin-left: 2vw;
  border-radius: 5%;
  box-shadow: 5px 5px 10px 0.3px rgb(150, 150, 150);
  
}
.card-1 , .card-3{
  margin-right: 1vw;
}
.h2-3{
  padding-top: 30vh;
  font-size:xx-large ;
}
.section-3{
  background-color:#282A35;
  height: 100vh;
    width: 100vw;
    color: white;
    

}
.h2-4{
  padding-top: 5vh;
  font-size:xx-large ;
  text-align: center;
  
}
.div-6{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
}

.div-11{
  display: flex;
  flex-direction: column;
}
.div-8{
  margin-left: 26vw;
}
.call,.num{
  padding-right: 2.5vw;
}
.div-12,.div-8{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-align: center;
  padding-top: 20vh;
}
.section-4{
  background-color: wheat;
  height: 100vh;
  width: 100vw;
  
} 
.div-13{
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h2-5{
  padding-top: 5vh;
  font-size:xx-large ;
  text-align: center;
}
.div-18{
  display: flex;
  flex-direction: column;
}
h3{
  padding-top: 5vh;
  text-align: center;
  font-size: x-large;
}
.div-14{
  
  height: 35vh;
  width: 20vw;
  border: 0.5rem solid rgb(157, 214, 252);
  border-radius: 100%;
  background-image: url(./images/appmeteo.png);background-position: center;
  background-size: cover;
  
}
.div-15{
  
  height: 35vh;
  width: 20vw;
  border: 0.5rem solid rgb(157, 214, 252);
  border-radius: 100%;
  background-image: url(./images/dkcassea.PNG);background-position: center;
  background-size: cover;
}
.div-20{
  
  height: 35vh;
  width: 20vw;
  border: 0.5rem solid rgb(157, 214, 252);
  border-radius: 100%;
  background-image: url(./images/massifa.png);background-position: center;
  background-size: cover;
}
.a2{
  color: white;
  text-decoration: none;
}
.a2:visited{
  color: white;
  text-decoration: none;
}
.div-14:hover,.div-15:hover,.div-20:hover{
box-shadow: 5px 5px 5px 5px rgb(179, 208, 209);
transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
p{
  text-align: start;
  padding-top:1vh;

}
h5{
  text-align: center;
  font-size: large;
}
.card-title{
  padding-top:2vh;
}
.img-3:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.a3{
  color: black;

}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  padding-top: 10vh;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 414px) {
header{
  height: 15vh;
}


.section-1{
  height: 125vh;
}
.div-1{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
}
.logo{
  width: 50vw;
}
.img-1{
  width: 75%;
  margin-left: 10vw;
}

.card-1,.card-2,.card-3,.card-4{
  overflow: scroll;
}
.section-4{
  height: 150vh;
  padding-top: 30vh;
}
.div-13{
  flex-direction: column;
}
.div-18,.div-14,.div-13,.div-20,.div-15{
  width: 50vw;
  
}
h3{
  padding-bottom: 5vh;
}
.section-3{
  height: 125vh;
  padding-top: 20vh;
}
.div-8,.div-12{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-6{
  padding-right: 10vw;
}
}
